<!DOCTYPE html>
<html>
 <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="homepage.css">
  <title>Adult Learner Hub</title> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
     <style>
    a {
      color: inherit;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <a class="name" href="/posts">The Adult Learner Hub</a>
</body>
</html>
