<!DOCTYPE html>
<html>
 <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="application.css">
  <title>Adult Learner Hub</title> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
       <style>   
       a {
      color: inherit;
      text-decoration: none;
    }</style>
  </head>

<body>

<%#div>
  <div>
    <h2>
      Add a new post
    </h2>

    <form action="/insert_post" method="post">
      <div>
        <label for="activity_id_box">
          Activity
        </label>

        <input type="text" id="activity_id_box" name="query_activity_id">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="location_id_box">
          Location
        </label>

        <input type="text" id="location_id_box" name="query_location_id">
      </div>

      <button>
        Create post
      </button>
    </form>
  </div>
</div %>


<table class="table">
    <thead> 
    <tr>   

        <th>
          Activity
        </th>

        <th>
          Description
        </th>

       <%# <th>
          Location
        </th>

       
          Website
        </th>
      #%>
        
      </tr>
      </thead>
      <tbody>

      <% @list_of_posts.each do |a_post| %>
      <tr>
       <th scope="row"><%= a_post.activity.name %></th>
       

        <td>
          <%= a_post.description %>
        </td>
        <td>
        <button type="button" class="btn btn-outline-secondary">
          <a href="/posts/<%= a_post.id %>">
            Details
          </a>
          </button>
        </td>
      </tr>
      <% end %> 
</table>
<hr>
