<!DOCTYPE html>
<html>
 <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="application.css">
  <title>Adult Learner Hub</title> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
  </head>

<body>
    <div class="name">
   Locations
    </div>
  
  <%#div>
    <h2>
      Add a new location
    </h2>

    <form action="/insert_location" method="post">
      <div>
        <label for="activity_id_box">
          Activity
        </label>

        <input type="text" id="activity_id_box" name="query_activity_id">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website">
      </div>

      <button>
        Create location
      </button>
    </form>
  </div>
</div %>
<div>
  <div>
    <table border="2">
      <tr>
        <th>
          Activity
        </th>

        <%#th>
          Address
        </th>

        <th>
          Image
        </th%>

        <%#th>
          Website
        </th>
        <th>
        </th>
      </tr%>

      <% @list_of_locations.each do |a_location| %>
      <tr>
  
        <td>
          <%= a_location.activity.name %>
        </td>
        <td>
          <a class="link" href="/locations/<%= a_location.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
</body>
