<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="pagina_inicios.css"
   >
   <title>
    Welcome :D
   </title> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
  </head>
  <body>
  <div class="items">
    <div class="name">
The Adult Learner Hub
</div>
  
 <div class="banner"><img src="https://as2.ftcdn.net/v2/jpg/04/99/89/15/1000_F_499891526_mojfNnMb2XON4gwjJwSadKjxKo5LRqWQ.jpg" alt="page image" class="banner-image">
  
 </div> 

<div class="link">
  <a 
  href="/posts">
Classes </a>
  </div>
</div>



</body>

</html>
